.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered {
}

.hand {
  overflow: auto;
}

.score-board {

}

.player-hand-container {

}

.dealer-hand-container {
	
}

.hand {
	.score {

	}
}

.hit-button {

}

.stand-button {

}

.bet {
	#make-bet {

	}
}

.purse {

}


